<% layout("/layouts/boilerplate") %>

<body class="home">
  <div class="home-container">
    <div class="content">
      <h1 class="home-title luckiest-guy-regular">WANDERLUST</h1>
    </div>
    <div class="information hidden">
      <p>
        "Wanderlust is your ultimate guide to discovering the world's most
        captivating travel destinations. Whether you're seeking a tranquil beach
        escape, an adventurous mountain trek, or a culturally enriching city
        tour, Wanderlust curates a diverse selection of unique and unforgettable
        experiences.
      </p>
      <div class="buttons hidden">
        <a href="/listings"><button class="home-btn">Explore</button></a>
        <button class="home-btn">About Us</button>
      </div>
    </div>
  </div>
  <script src="test.js"></script>
</body>
